html {
    background-color: #00d982;
    font-family: Arial, Helvetica, sans-serif;
}

body {
   
    padding: 20px;
    justify-content: center;
    align-items: center;
}

header {
    color: #fff;
}

h2 {
    
    height: 35px;
    background-color: #5e7992;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0px;
    padding-top: 20px;


}

p {
}

form {
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0px;

    
}

label {
    font-weight: bold;
    color: #5e7992;
    display: block;
    margin-left: 10px;
}

input {
    box-sizing: border-box;
    border: 1px solid #ebeeef;
    background-color: #f9fafa;
}

.form-item {
    padding-top: 20px;
}

button {
    background-color: #00d982;
    border: none;
    color: #fff;
    
}

input,
button {
    font-size: 1rem;
    border-radius: 2px;
    width: 95%;
    height: 30px;
    margin: 10px;
}

@media (min-width: 600px) {

}

@media (min-width: 900px) {

    #form-wrapper{
        width: 50%;
        margin-left: 50%;
        
    }
   
    header{
        margin-right: 55%;
        /* margin-top: 30%; */
        text-align: center;
        position: fixed;
        top: 140px;
        left: 10px;

    }

    .form-item{
        display: inline-block;
    }

    #name{

        width: 435px;
    
    }

    #button{
        width: 459px;
    }
}
